<!DOCTYPE html>
<html>
    <head>
        <title> Create an Account </title>
    </head>

    <body>
        <h1>Create an Account</h1>
        <br />
        <h4> Create Account</h4>
        <br />
        <form>
            <p>First Name: <input class = 'fname'></input></p>
            <p>Last Name: <input class = 'lname'></input></p>
            <p>Userame: <input class = 'username'></input></p>
            <p>Password: <input class = 'password'></input></p>
            <button> Create Account </button>
        </form>
        <br />
        <p>Already have an account? Sign in <a href="{% url 'home'%}"> Here </a></p>

    </body>
</html>